body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
 
 nav {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .brand {
    font-size: 1.5em; /* Adjust the size as needed */
 }
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 
 li {
    float: left;
    margin-right: 20px;
 }
 
 a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; /* Add a smooth transition effect */
 }
 
 a:hover {
    color: #ff1707; /* Change the color on hover, adjust as needed */
 }
 